html {
  height: auto;
}

hr {
  border-top: #465646;
}

.footer a {
  color: #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding-top: 60px;
}

#header {
  justify-content: center;
  background-image: url("img/O7MF5N0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
  align-items: baseline;
  color: #ffffff;
}

.title {
  padding: 3em;
}

#credit {
  text-align: end;
}

#credit a {
  color: #667666;
  font-size: 0.8em;
  margin-right: 5px;
}

#profileNav {
  position: fixed;
}

.navBtn.active {
  /*  border-bottom: 1px solid #667666;*/
  background-color: #ffffff;
}

.navBtn.active ._md-nav-button-text {
  color: #222F22;
}

md-nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #336687;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

._md-nav-button-text {
  /*color: rgb(51, 51, 51);*/
  color: #ffffff;
}

md-nav-bar md-nav-ink-bar {
  background: #FFF;
  display: none;
}

._md-nav-bar-list {
  justify-content: center;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
}

.skillsRow {
  display: flex;
  align-items: center;
}

#skillsProfile ul {
  text-decoration: none;
  list-style: none;
}

#skillsProfile li {
  margin: 10px 0 10px 0;
}

.wrap {
  width: 100%;
}

.inner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 25vw;
}

#links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  margin-bottom: 20vh;
}

.collapseBtn {
  margin-left: 0px;
  padding-left: 0px;
  color: #76666F;
}

.footer {
  background: #336687;
  min-height: 30vh;
  color: #ffffff;
  margin-top: 10em;
  padding-top: 3em;
  padding-bottom: 3em;
}

#name {
  font-size: 4em;
}

.footerBox {
  padding: 40px;
}

.skill.ng-leave {
  opacity: 1;
}

.skill.ng-leave.ng-leave-active {
  opacity: 0;
}

.skill.ng-enter {
  opacity: 0;
}

.skill.ng-enter.ng-enter-active {
  opacity: 1;
}

.skill {
  transition: all linear 0.5s;
}

.skillsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
