<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-href="#" name="header" class="navBtn" ng-click="scroll('header')" du-scrollspy du-smooth-scroll href='#header'>Top</md-nav-item>
  <md-nav-item md-nav-href="#" name="skillsProfile" class="navBtn" ng-click="scroll('skillsProfile')" du-scrollspy du-smooth-scroll href='#skillsProfile'>Skills</md-nav-item>
  <md-nav-item md-nav-href="#" name="education" class="navBtn" ng-click="scroll('education')" du-scrollspy du-smooth-scroll href='#education'>Education</md-nav-item>
  <md-nav-item md-nav-href="#" name="experience" class="navBtn" ng-click="scroll('experience')" du-scrollspy du-smooth-scroll href='#experience'>Experience</md-nav-item>
  <md-nav-item md-nav-href="#" name="contact" class="navBtn" ng-click="scroll('contact')" du-scrollspy du-smooth-scroll href='#contact'>Contact</md-nav-item>
</md-nav-bar>
<div class="container">
  <div id="header" class="section">
    <h1>DANIEL ARGUS LIST</h1>
    <h3>Full Stack .Net Developer</h3>
  </div>

  <div id="skillsProfile" class="section">
    <div class="wrap">

      <h2>SKILLS PROFILE</h2>
      <div class="col-sm-2">

      </div>
      <div class="skillsContainer col-sm-8">
        <div class="skillsRow">
          <ul>
            <li>C#</li>
            <li>Javascript</li>
            <li>Angular Js</li>
            <li>Angular 2</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bower & Npm</li>
            <li>AWS</li>
          </ul>
        </div>
        <div class="skillsRow">
          <ul>
            <li>JQuery</li>
            <li>Bootstrap</li>
            <li>ASP.NET</li>
            <li>LINQ</li>
            <li>SQL</li>
            <li>Node.js</li>
            <li>Ionic</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">

      </div>
    </div>

  </div>
  <div id="education" class="section">
    <div class="wrap">

      <h2>EDUCATION</h2>
      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">

          <div class="">
            <h3>Full Stack .Net</h3>
            <p>Coder Camps, Houston TX</p>
            <p>2000 hours development experience using .Net technologies</p>
          </div>
          <div class="">
            <h3>Bachelor of Science(BS) in Geology</h3>
            <p>University of Cincinnati, Cincinnati OH</p>
            <p>Field Camp: Himalayas, India</p>
          </div>
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
  </div>

  <div id="experience" class="section">
    <div class="wrap">

      <h2>EMPLOYMENT EXPERIENCE</h2>
      <div class="">
        <div class="row">
          <div class="col-sm-2">

          </div>
          <div class="col-sm-8">

            <div class="">
              <h3>Software Engineer, Rubix Group LLC.</h3>
              <span>May 2016 - May 2017</span>
              <p>Develop web and mobile applications using Full Stack .Net technologies</p>
              <p>Maintain deadlines and organization using tools such as Trello, Asana, and Bitbucket.</p>
            </div>

            <div class="">
              <h3>Mud Logging Analyst, Schlumberger</h3>
              <span>July 2015 - January 2016</span>
              <p>Monitored oil wells while drilling, recorded client data, analyzed and logged geologic samples.</p>
              <p>Offshore Gulf of Mexico.</p>
            </div>

            <div class="">
              <h3>Landscaper, Lamond Landscaping</h3>
              <span>July 2014 - July 2015</span>
              <p>Lead teams, managed workers, held responsibility for completing tasks by deadline.</p>
            </div>

            <div class="">
              <h3>Grocery Clerk, The Kroger Company</h3>
              <span>May 2010 - July 2014</span>
              <p>Maintained and replentished products beyond goals and standards in both individual and team settings.</p>
            </div>
          </div>
          <div class="col-sm-2">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="section">
    <div class="wrap">

      <h2>CONTACT ME</h2>
      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">

          <h3>680 W Sam Houston Pkwy S, #331 - Houston, TX 77042</h3>
          <h3>(513) 205-1124 - listda7921@gmail.com</h3>
          <div id="links">
            <h4>Find me on:</h4>
            <div class="">
              <a href="" target="_blank">LinkedIn </a>|
              <a href="" target="_blank"> Git Hub</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">

        </div>
      </div>
    </div>
  </div>
</div>
